<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  
  <settings>
  	<!-- db로전달된 데이터가 NULL인경우, db입력시에 빈칸이아닌 NULL을 입력할것 -->
  	<setting name="jdbcTypeForNull" value="NULL"/>
  	<setting name="mapUnderscoreToCamelCase" value="true"/>
  	
  </settings>
  
  <typeAliases>
  	<!-- <typeAlias type="com.kh.spring.demo.model.vo.Dev" alias="dev"/> -->
	<package name="com.kh.ifwe"/>
  </typeAliases>
  
</configuration>




