section{
    background-color: #f1f2f2;
    width:100%;
    height: 1280px;
}
.title_wrap{
    border: 1px solid #f1f2f2;
    margin-left: 400px;
    width: 1400px;
}
.title_wrap h1{
    font-size: 30px;
    color: #3b3b3b;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 120px;
}
.menu_wrap{
    /* border: 1px solid red; */
    width: 1400px;
    height: 120px;
    margin-left: 400px;
    margin-top: 50px;
}
.menu_wrap::after{
    content: "";
    display: block;
    clear: both;
}
.border{
    border: 2px solid #ffc862;
    width: 50px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
}
.notice_menu{
    width: 400px;
    height: 100px;
    background-color: white;
    float: left;
    border-radius: 20px;
    margin-right: 36px;
    padding-left: 40px;
    padding-top: 20px;
    cursor: pointer;
}
.notice_menu:last-child{
    margin-right: 0px;
}
.notice_menu:hover{
    background-color: #ffc862;
}
.notice_menu:hover h2{
    color: white;
}
.notice_menu:hover .border{
    border: 2px solid white;
}
.notice1{
   margin-left: 400px;
   width:1400px;
   /* border: 1px solid blue; */
   position: relative;
}
.notice1::after{
    content: "";
    display: block;
    clear: both;
}
.write{
    width: 170px;
    height: 40px;
    color: white;
    font-size: 16px;
    background-color: #ffc862;
    border-radius: 20px;
    float: right;
    margin-top: 50px;
    margin-bottom: 30px;
    outline: none;
    cursor: pointer;
}
.write:hover{
    background-color: #f6a40d;
}
table{
    border-collapse: collapse;
    /* border: 1px solid red; */
    width: 1400px;
    margin-top: 100px;
}
thead{
    background-color: #ffc862;
}
th{
    height: 45px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #3b3b3b;
    text-align: left;
    padding-left: 20px;
}
th:last-child{
    text-align: right;
    padding-right: 70px;
}

td{
    height: 45px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #3b3b3b;
    text-align: left;
    padding-left: 20px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f1f2f2;
}
td:first-child a{
	cursor: pointer;
	text-decoration-line: none;
	color : #3b3b3b;
}
td:first-child:hover{
    font-weight: bold;
}

td:last-child{
    text-align: right;
    padding-right: 20px;
}
.modify{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    outline: none;
    cursor: pointer;
}
.delete{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    outline: none;
    cursor: pointer;
}
.modify:hover{
    background-color: #3b3b3b;
    color: white;
}
.delete:hover{
    background-color: #3b3b3b;
    color: white;
}
.notice2{
    margin-left: 400px;
    width:1400px;
    position: absolute;
    top: 323px;
    left: 0;
    /* border: 1px solid red; */
    display: none;
 }
 .notice2::after{
     content: "";
     display: block;
     clear: both;
 }
 .notice2_title h2{
     font-size: 20px;
     color: #3b3b3b;
     float: left;
     margin-top: 50px;
     margin-bottom: 30px;
 }
 .answer{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    outline: none;
    cursor: pointer;
}
.answer:hover{
    background-color: #3b3b3b;
    color: white;
}
.notice3{
    margin-left: 400px;
    width:1400px;
    position: absolute;
    top: 323px;
    left: 0;
    /* border: 1px solid red; */
    display: none;
 }
 .notice3::after{
     content: "";
     display: block;
     clear: both;
 }
 .notice3_title h2{
     font-size: 20px;
     color: #3b3b3b;
     float: left;
     margin-top: 50px;
     margin-bottom: 30px;
 }