section{
    background-color: #f1f2f2;
    width:100%;
    height: 1280px;
}
.title_wrap{
    width: 1400px;
    border: 1px solid #f1f2f2;
    margin-left: 400px;
}
.title_wrap h1{
    margin-top: 120px;
}
.title_wrap::after{
    content: "";
    display: block;
    clear: both;
}
.title_wrap h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: #3b3b3b;
}
.search_member{
    float: left;
    /* border: 1px solid red; */
}
.search_member i{
    font-size: 20px;
    color: #3b3b3b;
    margin-right: 10px;

}
.srh_member{
    margin-top: 70px;
    background-color:#e7e8e8;
    width: 580px;
    height: 50px;
    border-radius: 20px;
    padding-left: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    outline: none;
}
.btn_wrap{
    float: right;
    /* border: 1px solid blue; */
}
.btn_member{
    width: 162px;
    height: 50px;
    background-color:#e7e8e8;
    margin-top: 70px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    float: left;
    outline: none;
    text-decoration: none;
}
.btn_member h2{
    padding-top: 10px;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}
#all_member{
    margin-right: 20px;
    /* border: 1px solid red; */
}
#drop_member{
    margin-right: 20px;
    /* border: 1px solid red; */
}
.btn_member:hover{
    background-color: #3b3b3b;
    color: white;
}
.member_list{
    /* border: 1px solid red; */
    width: 1400px;
    height: 600px;
    /* margin-left: 400px;   */
    margin-top: 150px;
    position: relative;
}

table{ 
    border-collapse: collapse;
    /* border: 1px solid red; */
    width: 1400px;

}
thead{
    background-color: #ffc862;
}
th{
    height: 45px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #3b3b3b;
    text-align: left;
    padding-left: 20px;
}
th:last-child{
    text-align: center;
}
td{
    height: 45px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #3b3b3b;
    text-align: left;
    padding-left: 20px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f1f2f2;
}
td:last-child{
    text-align: center;
}
.drop{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    outline: none;
    cursor: pointer;
}
.quit{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    outline: none;
    cursor: pointer;
}
.drop:hover{
    background-color: #3b3b3b;
    color: white;
}
.quit:hover{
    background-color: #3b3b3b;
    color: white;
}

.member_list_drop{
    width: 1400px;
    height: 600px;
    margin-top: 150px;
    position: absolute;
    top: 150px;
    left: 400px;
    /* border: 3px solid red;
     */
}
.member_list_dormant{
    width: 1400px;
    height: 600px;
    margin-top: 150px;
    position: absolute;
    top: 150px;
    left: 400px;
    /* border: 3px solid red;
     */
}