@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }

a{
    text-decoration:none;
}
* {
    margin: 0;
    color: #3b3b3b;
    outline:0;
}
.font-kor {
    font-family: 'GmarketSansLight';
}
.font-eng {
    font-family: 'Fredoka One';
}
.bold-kor{
    font-family: 'GmarketSansMedium';
}
html {
    width: 1920px;
    height: 1280px;
    background-color: rgba(246,246,246,0.5);
    margin:0 auto;
}
header {
    width: 100%;
    height: 120px;
    background-color: #2756a6;
    position: relative;
}
.nav-container{
    width:1660px;
    height:120px;
    margin:0 auto;
    position: relative;
}


.nav-msg-cantainer{
    width:1100px;
    height: 1200px;
    position: absolute;
    right:0;
    top: 130px;
    z-index: 100;

}
.navmsg-friend-box{
    width:250px;
    height:100%;
    float: left;
    background-color: rgb(255, 255, 255,0.8 );
}
.navmsg-msg-box{
    width:300px;
    height:100%;
    float: left;
    background-color: rgb(255, 255, 255,0.8 );
}
.navmsg-sendmsg-box{
    width:550px;
    height: 100%;
    float: left;
    background-color: rgb(246, 246, 246);
    text-align: center;
    position: relative;
    overflow: hidden;
}
.receive-container{
	position:absolute;
	left:-500px;
}
.send-container{
	position:absolute;
	top:390px;
	left:-500px;
}
.navmsg-friend-title{
    width:100%;
    height:60px;
    background-color: #ffc862;
    color: white;
    text-align: center;
    padding-top: 15px;
    font-size: 24px;
    font-family: 'GmarketSansMedium';
    margin-bottom: 15px;
}
.navmsg-friend-title span{
    margin-left: 10px;
    color: white;
    
}
.fa-user-alt{
    font-size: 30px;
    color: white;
}
.navmsg-receive{
	width:150px;
	height:60px;
	padding-top:15px;
	text-align: center;
	font-family: 'GmarketSansMedium';
	margin-bottom: 15px;
	background-color: #2756a6;
	font-size: 24px;
	cursor: pointer;
	float: left;
	color:white;
	transition:all .5s ease;
}
.navmsg-send{
	width:150px;
	height:60px;
	padding-top:15px;
	text-align: center;
	font-family: 'GmarketSansMedium';
	background-color: #beceea;
	margin-bottom: 15px;
	font-size: 24px;
	cursor: pointer;
	float: left;
	color:white;
	transition:all .5s ease;
}
.navmsg-msglist-box{
	width:300px;
	height: 1140px;
	float:left;
}
.fa-comments{
	color: white;
	font-size:26px;
}
.navmsg-friend-list{
    height:65px;
    width:200px;
    margin:30px auto;
    cursor: pointer;
}
.navmsg-friend-list p{
    float: left;
    font-size: 20px;
    margin-top:25px;
    margin-left:10px;
    font-family: 'GmarketSansMedium';
    
}
.navmsg-img{
    width:65px;
    height:65px;
    border-radius: 50%;
    overflow: hidden;
    background-image: url("../../images/main/basicfrofile.png");
    background-size: cover;
    float: left;

}
.navmsg-img img{
    width:65px;
    height:65px;
    
}
.navmsg-msg-list{
    width:240px;
    height:40px;
    margin:20px auto;
    cursor: pointer;
}
.navmsg-msg-list .fa-circle{
    color:#2756a6;
    float: left;
    margin-top:13px;
    font-size: 10px;
    margin-right:10px;
}
.navmsg-member{
    float: left;
    font-family: 'GmarketSansMedium';
    font-size: 15px;
    width:175px;
}
.navmsg-date{
    width:175px;
    float: left;
}
.navmsg-listimg-box{
    float: right;
    font-family: 'GmarketSansMedium';
    width:30px;
    height:13px;
    margin-top:-10px;
    color:red;
    font-size: 10px;
}
.sendmsg-memberinfo{
    width:480px;
    height:75px;
    margin:20px auto;
}
.sendmsg-memberinfo p{
    font-size:20px;
}
.memberinfo-imgbox{
    width:70px;
    height:70px;
    border:5px solid white;
    border-radius: 50%;
    float: left;
    margin-right:15px;
    background-image: url("../../images/main/basicfrofile.png");
    background-size: cover;
    overflow: hidden;
}
.memberinfo-imgbox img{
    width:60px;
    height:60px;
}
.memberinfoid{
    padding-top:10px;
    float: left;
    margin-right: 200px;
}
.memberinfoname{
    font-family: 'GmarketSansMedium';
    margin-right: 200px;
    float: left;
}

.sendmsg-content{
    width:480px;
    min-height:240px;
    margin:0 auto;
    background-color: white;
    overflow:auto;
    margin-bottom: 30px;
    text-align: left;
    font-size:24px;
    font-family: 'GmarketSansLight';
    white-space:pre;
}

.myinfo-imgbox{
    float: right;
    width:70px;
    height:70px;
    border:5px solid white;
    border-radius: 50%;
    margin-left: 15px;
    background-image: url("../../images/main/basicfrofile.png");
    background-size: cover;
    overflow: hidden;
}
.myinfo-imgbox img{
	width:60px;
	height:60px;
}
.myinfoid{
    padding-top:10px;
    float: right;
    margin-left:200px;
}
.myinfoname{
    font-family: 'GmarketSansMedium';
    margin-left:200px;
    float: right;
}
.myinfo-textarea{
    outline: none;
    font-size: 20px;
    resize: none;
}
.navmsg-btn{
    width:145px;
    background-color: #2756a6;
    font-family: 'GmarketSansMedium';
    border-radius: 20px;
    color:white;
    font-size: 18px;
    padding:10px;
    margin-top:15px;
    outline: none;
}
.logo-box {
    float: left;
    width: 75px;
    height: 30px;
    margin-top: 3%;
    background-image: url("../../images/main/white-logo.png");
    background-size: cover;
    cursor:pointer;
}
.nav-content-right {
    width: 440px;
    height: 100px;
    float: right;
}
.nav-right-leader {
    width: 160px;
    height: 56px;
    font-size: 19px;
    text-align: right;
    float: right;
    margin-top: 10%;

}
.nav-clubimg {
    border: 5px solid white;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    float: right;
    background-image: url("../../images/main/basicfrofile.png");
    background-size: cover;
    margin-top: 8%;
    margin-left: 3%;
    overflow:hidden;
}
.nav-clubimg img{
	width:55px;
	z-index:1;
	height:100%;
}
.nav-right-icon1 {
    width: 50px;
    height: 55px;
    float: right;
    color: white;
    margin-top: 10%;
    margin-left: 5%;
    cursor: pointer;
}
.nav-right-icon2 {
    width: 50px;
    height: 55px;
    float: right;
    color: white;
    margin-top: 10%;
    position:relative;
    cursor:pointer;
}
.fa-bell {
    margin-left: 30%;
}
.bell-count{
	background-color: #fa3e3e;
  	border-radius: 2px;
  	color: white;
  	padding: 1px 3px;
  	font-size: 10px;
  	position: absolute; 
  	top: 0;
  	right: 0;
}
.nav-myfrofile-box{
    background-image: url("../../images/club/navbox.png");
    background-size: cover;
    width:190px;
    height:140px;
    position: absolute;
    left:83.5%;
    top:77%;
    text-align: center;
    font-size: 14pt;
    padding-top:47px;
    display: none;
    z-index: 1;
}
.nav-box-line{
    border:1px solid #dadada;
    width:110px;
    margin:4% auto;
    
}
#nav-mypagebox p{
    cursor: pointer;
}
section{
    width: 1550px;
    min-height: 1080px;
    float: left;
    
}
.container{
    width: 1460px;
    height: 1080px;
    float: right;
}
nav{
    display: inline-block;
    width: 150px;
    height: 1040px;
    
}
.ul-tag{
    list-style: none;
    font-size: 20px;
    padding: 0;
    height: 500px;
}
.blue-back li{
    margin-top: 8%;
    margin-left: 50%;
}
.ul-background{
    /* border: 1px solid black; */
    width: 270px;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
}
.ul-container{
    width: 270px;
    height: 800px; 
    /* border: 1px solid blue; */
    position: relative;
}
.ul-div{
    margin-left: 50%;
    margin-right: 10%;
    height: 800px;
}
.blue-back{
    width: 270px;
    border:1px solid rgba(246,246,246,0.5);
    height: 65px;
    margin-top: 15%;
    cursor:pointer;
}
.blue-back:hover{
    background-color: #2756a6;
    border-radius: 0 10px 10px 0;
}
.blue-back:hover a{
    color: white;
}
nav{
    width: 270px;
    float: left;
}