



section{
    font-family: 'GmarketSansLight';
    width: 1500px;
    height: 1080px;
    float: left;
}
.section-container-box{
    width: 1460px;
    float: right;
}
.section-title-box{
    height: 90px;
    font-size: 20px;
    text-align: center;
    margin-top:100px;
}
.section-title-box p:first-child{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 1%;
}
.writing-button-box{
    margin-top:50px;
    height: 35px;
}
.section-block-right{
    float: right;
    width: 140px;
    height:35px;
    border-radius: 10px;
    background-color: #2756a6;
    cursor: pointer;
    
}
.section-block-right p{
    float: left;
    margin-left: 30%;
    margin-top:7%;
    color:white;
}   
.fa-pencil-alt{
    margin-top:7%;
    margin-left:6%;
    color:white;
}
.section-boardcate-box{
    margin-top:40px;
    height:65px;
    cursor: pointer;
}
.section-boardcate-button{
    float: left;
    width: 486px;
    height:65px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #beceea;
}
.section-boardcate-button p{
    color: white;
    padding-top:20px;
}
.section-board-container{
    width: 100%;
    min-height:500px;
    background-color: white;
    padding:50px 0;
}
.sction-board-center{
    width:1375px;
    min-height: 500px;
    margin:0 auto;

}
.section-board-line{
    width:65px;
    height:5px;
    background-color: #2756a6;
    margin-bottom:50px;
}
.section-boardtitle-box{
    width:100%;
    min-height: 65px;
    border-bottom: 1px solid #989898;
    margin-bottom: 50px;
    text-align: center;
}
.section-boardtitle{
    float: left;
    width: 1130px;
    font-size: 20px;
    
}
.section-boardtitle-box p:first-child{
    float: left;
    font-size: 20px;
    color:#2756a6;
    width: 65px;
    margin-left: 30px;
}
.section-boardtitle-box p:last-child{
    float: left;
    font-size: 20px;
    width: 135px;
}






