@font-face { font-family: 'GmarketSansLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff'); font-weight: normal; font-style: normal; }
section{
    font-family: 'GmarketSansLight';
}
.section-boradmenu{
    font-family: 'GmarketSansMedium';
    font-weight: bold;
    font-size: 24px;
}
.section-wrapper{
    width:100%;
}
.section-wrapper p{
    font-family: 'GmarketSansLight';
}

.section-boradmenu{
    float: left;
}
.shc-premiumbox{
    float: right;
    width:210px;
    height:55px;
    background-color: #ffc862;
    border-radius: 20px;

}
.shc-premiumbox p{
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top:6%;

}
.shc-section-memberlist-container>p{
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;

}
.shc-section-clubinfobox{
    width:1250px;
    min-height: 500px;
    background-color: white;
    padding:50px; 
}
.fa-circle{
    color:#ffc862;
    font-size: 20px;
}
.shc-section-clubinfobox span{
    font-size: 26px;
    margin-left: 10px;
}
.clubnameinput{
    width:100%;
    height:55px;
    font-size: 24px;
    outline: none;
    background-color: #ebebeb;
    margin:40px 0;
}
.clubcontentinput{
    width:100%;
    height:110px;
    outline: none;
    font-size: 24px;
    background-color: #ebebeb;
    margin:40px 0;
}
.shc-selectbox{
    width:200px;
    height:85px;
    padding-top:30px;
    
}
.upfilename{
    border:1px solid #ebebeb;
    width:790px;
    height: 35px;
    margin-top:30px;
    outline: none;
    font-size: 20px;
}
.upfileinput{
     width: 0;
     height: 0;
     padding: 0;
     overflow: hidden;
     border: 0;
}
.upfilelabel{
    margin-left:20px;
    background-color: #ebebeb;
    font-size: 20px;
    padding:10px 20px;
    outline: none;
    cursor: pointer;

}
.clubinfo-savebutton{
    font-family: 'GmarketSansLight';
    float: right;
    width:280px;
    height: 60px;
    font-size: 24px;
    background-color: #2756a6;
    color:white;
    border-radius: 20px;
    outline: none;
    margin-top: 40px;
    font-weight: 600;
    cursor:pointer;

}

















