@font-face { font-family: 'GmarketSansLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff'); font-weight: normal; font-style: normal; }
*{
    padding: 0;
    border: 0;
    margin: 0;
}
body{
    background-color: rgba(246,246,246,0.5);
    color:#3b3b3b;
}
.flotclass{
    float: left;
}
.font-hk{
    font-family: 'GmarketSansLight';
}
.wrapper{
    margin:0 auto;
    width:1920px;
    min-height: 1600px;
    font-family: 'GmarketSansLight';
}
nav{
    width: 100%;
    height:120px;
    background-color: #ffc862;
    position: relative;
}
.nav-container{
    width:1600px;
    height:120px;
    margin:0 auto;
}
.logo-box{
    float: left;
    width: 75px;
    height: 30px;
    margin-top:3%;
    background-image: url("../../images/club/logo.png");
    background-size: cover;
    cursor:pointer;
}
.nav-content-right{
    width:390px;
    height:100px;
    float: right;
}
.nav-right-leader{
    width: 160px;
    height:56px;
    font-size: 19px;
    text-align: right;
    color: white;
    float: right;
    margin-top:10%;
    
}
.nav-right-leader p:last-child{
    font-weight: bold;
}
.nav-clubimg{
    border: 5px solid white;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    float: right;
    background-color:white;
    background-image: url("../../images/club/basicfrofile.png");
    background-size: cover;
    margin-top:6%;
    margin-left: 3%;
    overflow: hidden;
}
.nav-clubimg img{
    width:65px;
    height:100%;
    
}


.nav-right-icon1{
    width:50px;
    height:55px;
    float: right;
    color:white;
    margin-top:10%;
    margin-left: 5%;
    cursor: pointer;
}
.nav-right-icon2{
    width:50px;
    height:55px;
    float: right;
    color:white;
    margin-top:12%;
}
.fa-bell{
    margin-left: 30%;
}
.nav-myfrofile-box{
    background-image: url("../../images/club/navbox.png");
    background-size: cover;
    width:190px;
    height:95px;
    position: absolute;
    left:82%;
    top:77%;
    text-align: center;
    font-size: 14pt;
    padding-top:47px;
    display: none;
    z-index: 1;
}
.nav-box-line{
    border:1px solid #dadada;
    width:110px;
    margin:4% auto;
    
}
#nav-mypagebox p{
    cursor: pointer;
}

.wrapper-content{
    width:1650px;
    height:100px;
    margin:0 auto;
}
aside{
    width: 230px;
    min-height:1300px;
}
.aside-icon-arrow{
    width:40px;
    margin-top:24%;
    cursor: pointer;

}
.aside-leader-img{
    width:180px;
    height:180px;
    border:5px solid white;
    border-radius: 50%;
    margin:20px 23px;
    background-color: white;
    background-image: url("../../images/club/basicfrofile.png");
    background-size: cover;
    overflow: hidden;
}
.aside-leader-img img{
    width:180px;
    height:100%;
}
.aside-leader-information{
    margin-top:15%;
    height:115px;
    margin-bottom:20px;
}
.aside-leader-information p{
    float: left;
}
.aside-leader-allias{
    font-size:28pt;
    font-weight: bold;
    cursor: pointer;
}
.aside-leader-id{
    font-size:13pt;
    clear: both;
}
.fa-crown{
    color:#ffc862;
    margin-top:3%;
}
.aside-join{
    height:65px;
    border-radius: 20px;
    background-color: #ffc862;
    font-size: 24px;
    text-align: center;
    color: white;
    cursor: pointer;
}
.aside-join p{
    padding-top:9%;
    font-weight: bold;
}
.aside-boardmenu{
    background-color: rgb(255, 255, 255);
    margin-top:15%;
    padding:20px 0;
    
}
.aside-boardmenu ul{
	list-style-type: none;
}
.aside-boardmenu ul li{
	padding-left:20px;
	margin:20px 0;
}
.aside-boardmenu span{
	font-size: 20px;
	margin-left: 15px;
	cursor: pointer;
}
.aside-boardmenu a:link { color: black; text-decoration: none;}
.aside-boardmenu a:visited { color: black; text-decoration: none;}

.aside-friend-box{
    height:450px;
    background-color: white;
}
.aside-friend-title{
    width:180px;
    height:35px;
    margin:0 auto;
    margin-top:30px;
    padding-top:20px;
}
.aside-member-container{
	width:210px;
	height:70px;
	background-color: white;
	padding-left:20px;
	padding-top:20px;
	
	
	
}
.aside-member-container .fas{
	float:left;
	font-size:40px;
	margin-right:10px;
	
}




.aside-member-box{
	float:left;
	height:90px;
	width:180px;
	cursor: pointer;
}
.aside-member-box p{
	font-size:22px;
	font-weight: bold;
	float:left;
	margin-bottom: 0;
}
.aside-member-box span{
	font-size:16px;
}
.aside-member-box .fa-cog{
	font-size:22px;
	float:right;
	margin-left:20px;
}


.aside-line{
    margin:0 auto;
    width:180px;
    border:1px solid black;
}
.aside-friend-list{
    height:300px;
    width:180px;
    margin:0 auto;
    margin-top:30px;
    overflow:auto;
}
.aside-friend-list .fas{
	float:left;
	font-size:25px;
}
.aside-friend-list .fa-male{
	color:#2756a6;
}
.aside-friend-list .fa-female{
	color:#fe4646;
}

.aside-friend-title p{
    font-size: 20px;
    font-weight: bold;
    float: left;
}
.aside-friend-title .fa-users{
	float:right;
	font-size:30px;
	color:#ffc862;
}

.aside-friend-count{
    float: right;
    width:65px;
    height:30px;
    border:1px solid #2756a6;
    border-radius: 20px;
    color: #2756a6;
}
.aside-friend-count p{
    font-size: 10pt;
    width: 35px;
    height:15px;
    float: left;
    margin-left: 22%;
    margin-top:13%;
}
.aside-friend{
	border-bottom:1px solid #ebebeb;
    height:40px;
    margin-bottom: 30px;
    
}
.friendname{
    float: left;
    font-size: 20px;
    cursor: pointer;
    margin-left:10px;
    margin-top:2px;
}

.aside-friend-list a:link { color: black; text-decoration: none;}
.aside-friend-list a:visited { color: black; text-decoration: none;}


header{
    width:1350px;
    height: 380px;
    margin-left:45px;
    position: relative;
}
.header-search-box{
    height:65px;
    margin-top:3%;
    color: #3b3b3b;
}
.header-icon{
    width:35px;
    height:35px;
    margin-top:1%;
    color: #989898;
    float: left;
}
#search{
    border-radius: 20px;
    width: 1050px;
    height:65px;
    font-size: 20px;
    outline: none;
    margin-left: 2%;
    padding-left: 2%;
}
.header-titleimg{
	background-size:1350px 100%;
    width:100%;
    height:230px;
    margin-top:40px;
    background-color: rgba(0,0,0,0.7);
    overflow:hidden;

}
.header-titleimg-cover{
    width:100%;
    height:230px;
    background-color: rgba(0,0,0,0.6);
    z-index:100;
}
.header-title-left{
    width: 900px;
    color: white;
    float: left;
    margin-top:5%;
    margin-left:4%;
}
.header-title1{
    font-size:38px;
    font-weight: bold;

}
.header-title2{
    font-size:20px;
}
.header-title-right{
    height:35px;
    width: 300px;
    float: right;
    color: white;
    margin-top: 10%;
    margin-right: 5%;
}
.header-location-icon{
    float: right;
    padding-right: 6%;
}
.header-title-right p{
    float:right;
    font-size: 30px;

}

section{
    width:1350px;
    min-height: 2000px;
    margin-left:45px;
}
.section-block{
    width:1350px;
    height:55px;
    margin-top:55px;
}
.section-wrapper{
    width:820px;
    height:100%;

}
.section-boradmenu{
    float: left;
    font-size: 19px;
}
.section-block-right{
    float: right;
    width: 140px;
    height:35px;
    border-radius: 10px;
    background-color: #ffc862;
    color:white;

}
.section-block-right p{
    float: left;
    margin-left: 30%;
    margin-top:7%;
}   
.fa-pencil-alt{
    margin-top:7%;
    margin-left:6%;
}
#aside-scroll{
    width:230px;
}
.aside-friend-box{
    position: relative;
}





















