<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="friend">

<insert id="insertFriend">
	insert into
		friend
	values (#{memberCode},#{memberId},#{memberPname},'N')

</insert>


<update id="updateFriend">

update 
	friend
	set
	 friend_accept='Y'
	 where member_code=#{memberCode} and member_Id=#{memberId}
</update>


<update id="deleteFriend">


update 
	friend
	set
	 friend_accept='D'
	 where member_code=#{memberCode} and member_Id=#{memberId}


</update>


<select id="selectListFriend" resultType= "friendList">
	select 
		F.*,P.profile_img_re
	from 
		friend F left join member_profile P
	on 
		F.friend_code = P.member_code
	where 
		F.member_code = #{memberCode}
</select>

<select id="selectOneFriend" resultType= "friend">
	select
		*
	from
		friend
	where
		friend_code = #{memberCode}
</select>

	<select id="selectMsgList" resultType="message">
		select * from member_msg
		where member_code in(#{memberCode},#{friendCode}) 
			  and member_from in (#{friendCode},#{memberCode})
			  and msg_cate_code = 'm1'
		order by msg_date desc
	
	</select>
	<insert id="insertMsgSend">
		insert into member_msg
		values(seq_msg_code.nextval,#{memberCode},'m1',#{msgContent},default,default,#{memberFrom},null)
	
	</insert>
	<update id="updateMsg">
		update member_msg set msg_view='y'
		where msg_code = #{msgCode}
	</update>
	
	

</mapper>