<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="clubBoard">
	
	<insert id="insertboardList">
		insert into club_boardlist
		values(seq_club_boardlist_no.nextval,
			   #{clubCode},
			   #{boardTitleList})
	
	</insert>
	
	
	<select id="selectOne" resultType="clubBoard">
		select 
			* 
		from
			club_boardlist 
		where
			club_boardlist_no = #{clubBoardlistNo}
	</select>	
	
	<insert id="insertBoard">
		insert 
			into 
		club_board 
			values(
				seq_board_no.nextval, 
				#{clubCode}, 
				#{memberCode}, 
				#{clubBoardlistNo}, 
				#{boardTitle}, 
				#{boardContent}, 
				default, 
				0, 
				#{boardCateCode, typeHandler=StrArrTypeHandler}, 
				'n', 
				'n'
			)
			
		<selectKey keyProperty="boardNo" resultType="_int" order="AFTER">
			select seq_board_no.currval from dual
		</selectKey>
		
	</insert>
	
	<insert id="insertBoardImages">
		insert into board_img values(#{boardNo},#{summernoteImages},#{summernoteImagesRe})
	</insert>
	
	<select id="selectClubBoardList" resultMap="clubBoardProfileMap">
		select 
			C.*,L.*,M.profile_name, M.profile_img_re 
		from 
			club_board C 
		left join 
			club_boardlist L 
		on 
			C.club_boardlist_no = l.club_boardlist_no 
		left join 
			member_profile M 
		on 
			C.member_code = M.member_code 
		where 
			L.club_boardlist_no = #{clubBoardlistNo} 
		order by 
			C.board_no desc

	</select>
	
	<resultMap type="clubBoardProfile" id="clubBoardProfileMap">
		<result column="board_cate_code" property="boardCateCode" typeHandler="strArrTypeHandler"/>
	</resultMap>
	
</mapper>


