<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club">
	<insert id="clubCreate">
		insert into club
		values(
			seq_club_no.nextval,
			#{clubMaster},
			#{clubTitle},
			#{clubImgOri},
			#{clubImgRe},
			1,
			#{clubMax},
			default,
			#{clubContent},
			#{clubCatecode},
			#{clubLocation},
			null
			)
		<selectKey keyProperty="clubCode" resultType="_int" order="AFTER">
			select seq_club_no.currval from dual
		</selectKey>
	</insert>
	
	<select id="selectSeq" resultType="_int">
		select SEQ_club_no.currval
		from dual
	</select>
	
	<select id="selectCate" resultType="String">
		select * from contents_category
		where cate_code = #{hashtag}
	</select>
	
	<insert id="insertContent">
		insert into contents_category
		values(#{hashtag})
	
	</insert>
	
	<insert id="insertCategory" parameterType="HashMap">
		insert into club_category
		values(
			#{clubseq},
			#{clubcate}
			)
	
	</insert>

	<select id="clubSearch" resultType="clubMaster">
		select C.*, M.member_id from club C left join member M on c.club_master = m.member_code
	</select>
	
	<select id="selectOne" resultType="club">
		select * from club where club_code = #{clubCode}
	</select>
	
	
	<select id="selectClubMaster" resultType="member">
		select * from member where member_code = #{clubMaster}

	</select>
	
	<select id="searchClubByHashtag" resultType="clubMaster">
		select    *
		from 
		    club C 
		left join 
		    member M 
		on 
		    c.club_master = m.member_code 
		left join 
		    club_category CC 
		on 
		    c.club_code=cc.club_code
		<where>
	        CC.club_cate like #{keyWord}
	        <if test="clubLocation != '' ">
				and club_location = #{clubLocation}
			</if>
		</where>
	</select>
	
	<select id="selectListByName" resultType="clubMaster">
		select * from club C left join member M on C.club_master=M.member_code 
		<where>
			club_title like #{keyWord} 
			
			<if test="clubLocation != '' ">
				and club_location = #{clubLocation}
			</if>
		</where>
	</select>
</mapper>


