*{
    margin:0;
    border: 0;
    outline: 0;
}

@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff'); font-weight: normal; font-style: normal; }
.font-kor{
    font-family : 'GmarketSansLight';
}
.bold-kor{
    font-family: 'GmarketSansMedium';
}
.font-eng{
    font-family: 'Fredoka One';
}
html{
    width: 1920px;
    height: 1280px;
    color: #3b3b3b;

}
header{
    width: 1660px;
    height: 40px;
    margin: 6% auto 0 auto;
}
section{
    width: 1660px;
    margin: 0 auto;
}
footer{
    width: 1660px;
    margin: 0 auto;
    height: 20px;
    position:fixed; 
    left:5%; 
    bottom:5%; 
}
.enroll-article-first{
    margin: 7% 0 7% 0;
    width: 1660px;
    height: 790px;
}
.enroll-container{
    width: 1660px;
    height: 790px;
}
.enroll-container-number{
    font-size: 110px;
    color: #2756a6;
    float: left;
}
.enroll-hyphen{
    width: 140px;
    height: 10px;
    background-color: #2756a6;
    margin-bottom: 1%;
}
.enroll-container-posts{
    width: 450px;
    height: 180px;
    float: left;
    margin-left: 5%;
}
.img-container{
    width: 1660px;
    height: 500px;
    margin-top: 15% ;
    font-family: 'GmarketSansLight';
    
}
.img-container-blackfilter{
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.2);
	float:left;
	
	
}
.img-container-img{
    border-radius: 30px;
    width: 540px;
    height: 500px;
    display: inline-block;
    background-repeat : no-repeat;
    background-size : cover;
}
.img-concert{
    background-image: url("../../images/selectcate/cate1.png");
}
.img-study{
    background-image: url("../../images/selectcate/cate2.png");
    margin-left: .7%;
}
.img-music{
    background-image: url("../../images/selectcate/cate3.png");
    margin-left: .7%;
}
.img-hyphen{
    width: 50px;
    height: 5px;
    background-color: white;
}
.img-title{
    height: 60px;
    width: 220px;
    color: white;
    font-size: 40px;
}
.img-container-img-container{
    width: 430px;
    height: 380px;
    margin: 12% 0 0 8%;
    position:relative;
}
.img-title{
    margin-top: 5%;
}
.posts-container{
    float: left;
}
.img-container-posts-container{
    width: 100%;
    height: 70px;
    margin-top: 50%;
    color: white;
    float: left;
}
.posts-container-post{
    padding-top: 1%;
    font-size: 20px;
}
.posts-container-posts-icon{
    width: 48px;
    height: 48px;
    border-radius: 30px;
    border: 2px solid white;
    float: right;
}
.enroll-article-second{
    margin: 7% 0 7% 0;
    width: 400px;
    height: 790px;
    float: left;
}
.phone-posts{

    margin-top: 40%;
}
.phone-post{
    font-size: 25px;
}
.phone-btn-container{
    width: 400px;
    height: 100px;
    margin-top: 10%;
}
.phone-btn{
    background-color: #ebebeb;
    width: 400px;
    height: 100px;
    padding-top: 5%;
}
.phone-btn-p{
    line-height: 2;
    max-width: fit-content;
    font-size: 25px;
    margin: 0 auto;
}

.enroll-form{
    width: 100%;
    height: 100%;

}
.enroll-article-third{
    width: 1100px;
    height: 790px;
    float: left;
    padding-left: 8%;
    margin: 7% 0 7% 0;
}
.info-posts{
    margin-top: 15%;
}
.form-left,.form-right{
    width: 550px;
    height: 600px;
    margin-top: 5%;
    float: left;
}
.label{
    font-size: 20px;
    margin: 2% 0 5% 0;
}
.input{
    width: 260px;
    height: 44px;
}
input{
    border:1px solid #ebebeb;
    margin-bottom: 5%;
    font-size: 20px;
    outline: 0;
}
.gender-button{
    width: 55px;
    height: 45px;
    font-size: 16px;
    background-color: white;
}
.enroll-btn{
    width: 470px;
    height: 70px;
    background-color: #ffc862;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    outline: 0;
    margin-top:30px;
}

/* temp grid */
.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-6 {
  width: 50%;
}

.only-sr {
  overflow: hidden !important;
  position: absolute !important;
  left: -9999px !important;
  width: 1px;
  height: 1px;
}

/* form | radio */
.radio-items {
  display: table;
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  box-sizing: border-box;
}
.radio-items > div {
  display: table-cell;
  height: 44px;
  line-height: 44px;
  border-left: 1px solid #ebebeb;
  text-align: center;
}
.radio-items > div:first-child {
  border-left: none;
  width: auto !important;
}
.radio-items label {
  display: block;
  width: 100%;
  height: 100%;
  color: #3b3b3b;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: pointer;
}
.radio-items input[type="radio"]:checked + label {
  background-color: #ffc862;
  color: #fff;
}


.shc-img-box-float{
    border-radius: 20px;
    width:540px;
    height:500px;
    float:left;
}
.shc-culture-box{
    background-image: url("../../images/selectcate/cate1.png");
    background-size: cover;
}
.shc-study-box{
    margin-left: 15px;
    background-image: url("../../images/selectcate/cate2.png");
    background-size: cover;
}
.shc-music-box{
    margin-left: 15px;
    background-image: url("../../images/selectcate/cate3.png");
    background-size: cover;
}
.shc-black-fileter{
    width:100%;
    height:100%;
    border-radius: 20px;
    
}
.shc-filter-blackcolor{
	background-color:rgba(0,0,0,0.4);
}




.shc-white-line{
    width:50px;
    height:5px;
    background-color: white;
}
.shc-img-container-box{
    width:440px;
    height:370px;
    margin: 0 auto;
    padding-top:70px;
}
.shc-container-header{
    width:100%;
    height:300px;
    color: white;
}
.shc-container-header p{
    font-size: 40px;
    margin-top:30px;
}
.fa-circle{
    font-size:10px;
    vertical-align: super;
}
.shc-float-left{
    float: left;
}
.shc-container-header p:nth-child(3){
    width:48px;
    height:48px;
    text-align: center;
    padding-bottom: 40%;
}
.shc-container-bottom{
    width:100%;
    height:60px;
    color:white;
}
.shc-container-bottom p{
    float: left;
    font-size: 20px;
}
.shc-circle-box{
    border:2px solid white;
    border-radius: 50%;
    width:60px;
    height:50px;
    float: right;
    font-size: 40px;
    text-align: center;
    padding-top:10px;
}
