<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="insertMember">
		insert into member
		values(
		seq_member_no.nextval,
		#{memberId},
		#{memberPwd},
		#{memberName},
		#{memberPhone},
		#{memberLoc},
		#{memberEmail},
		#{memberBirth},
		#{memberGender},
		#{memberAddr},
		default,
		null,'member',0,
		#{memberLike}
		)
	</insert>
	<select id="selectOne" resultType="member">
		select * from member where
		member_id = #{memberId}
	</select>

	<update id="updatePassword">
		update
		member
		set
		member_pwd = #{memberPwd}
		where
		member_id = #{memberId}
	</update>

	<update id="updatePhone">
		update
		member
		set
		member_phone = #{memberPhone}
		where
		member_id = #{memberId}
	</update>

	<update id="updateEmail">
		update
		member
		set
		member_email = #{memberEmail}
		where
		member_id = #{memberId}
	</update>

	<update id="deleteMember">
		update
		member
		set
		member_role = #{memberRole}
		where
		member_id = #{memberId}
	</update>

	<select id="searchId" resultType="member">
		select
		*
		from
		member
		where
		member_name = #{memberName}
		and
		member_phone = #{phone}
		and
		member_birth = to_date(#{birth}, 'yyyy/mm/dd')
	</select>













	<!-- 20200323김원재 -->
	<update id="updateProfile">

		update
		member_profile
		set
		profile_name=#{profileName},
		profile_img_ori=#{profileImgOri},
		profile_img_re=#{profileImgRe},
		profile_comment =#{profileComment},
		profile_age = #{profileAge},
		profile_gender=#{profileGender},
		contents_cate_codes =#{contentsCateCodes, typeHandler=StrArrTypeHandler}
		where
		member_code=#{memberCode}
	</update>

	<insert id="insertProfile">


		insert into member_profile values(
		#{memberCode},null,null,null,null,'0','M',null

		)

	</insert>

	<insert id="insertPre">

		insert into premium_order values(
		seq_order_code.nextval,
		#{clubCode},
		#{membershipName},
		#{memberCode}

		)

	</insert>

	<select id="selectOneCode" resultType="member">

		select * from member
		where member_code=#{memberCode}
	</select>

	<select id="selectMemberLogin" resultType="memberLoggedIn">
		select M.*,p.profile_name,p.profile_img_re
		from member M join member_profile P 
            on M.member_code = P.member_code
        where M.member_code = #{memberCode}
		
	</select>




</mapper>


