<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="insertMember">
		insert into member
		values(
			seq_member_no.nextval,
			#{memberId},
			#{memberPwd},
			#{memberName},
			#{memberPhone},
			#{memberLoc},
			#{memberEmail},
			#{memberBirth},
			#{memberGender},
			#{memberAddr},
			default,
			null,'member',0,
			#{memberLike}
			)
	</insert>
	<select id="selectOne" resultType="member">
		select * from member where member_id = #{memberId}
	</select>
	
	

</mapper>


