<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
	<insert id="insertBoard">
	
	insert into board values (
    seq_board_no.nextval,
    #{memberCode},
    #{boardCate},
    #{boardTitle},
    #{boardContent},
    #{boardImgOri},
    #{boardImgRe},
    default,
    default,
    default,
    default    
	)
	</insert>
	
	<select id="selectMemberList" resultType="member">
		select
			*
		from
			member
		where member_role like #{memberRole}
	</select>
	
	<select id="selectDropMemberList" resultType="member">
		select
			*
		from
			member
		where
			member_role = 'd'
	</select>
	
	<select id="selectDormantMemberList" resultType="member">
		select
			*
		from
			member
		where
			member_role ='h'
	</select>
	
	<select id="selectOne" resultType="member">
		select
			*
		from
			member
		where
			member_code = #{memberCode}
	</select>
	
	<update id="cancelMember">
		update
			member
		set
			member_role = 'member'
		where
			member_code = #{memberCode}
	</update>
	
	<update id="dropMember">
		update
			member
		set
			member_role = 'd'
		where
			member_code = #{memberCode}
	</update>

	<select id="searchMember" resultType="member">
		select
			*
		from
			member
		where
			member_name = #{memberName}
	</select>


	<select id="selectOneBoard" resultType="board">
		select 
			*
		from 
			board		
		where BOARD_CATE like #{boardCategory} and
			  board_del = 'N'
	</select>

	<select id="selectBoardDetail" resultType="board">
		select
			*
		from
			board
		where board_no = #{boardNo}
	</select>
	
<!-- 	<update id="updateBoard">
		update 
			board
		set 
			board_title = #{boardTitle},
			board_content = #{boardContent}
		where
			board_no = #{boardNo}
	</update>
	 -->
	
	<!-- 0326 동준 작업 게시글 삭제-->
	<update id="deleteBoard">
	 	update board set 
			board_del = 'y'
		where
			board_no = #{boardNo}
	</update>
	
	<!-- 0326 동준 작업 게시글 내용 수정-->
	 <update id="updateBoardOne">
	 	update board set 
	 		board_title = #{boardTitle},
	 		board_content = #{boardContent}
 		where 
 			board_no = #{boardNo}
	 </update>
</mapper>

